body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.bibliografia {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bibliografia h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.entrada {
    margin-bottom: 10px;
}

.entrada p {
    margin: 0;
    line-height: 1.5;
}

.entrada p em {
    font-style: italic;
}

